footer.page__footer
  .page-prefooter
    .container
      .row.page-prefooter__row
        .col-auto
          .row.align-items-center.page-prefooter__row
            .col-auto.page-prefooter__header Будьте всегда в курсе!
            .col-auto
              form(action="#").subscribe-form(data-parsley-validate)
                .subscribe-form__col: input(required type="email" placeholder="Ваш e-mail").subscribe-form__input
                button(type="submit").subscribe-form__btn.btn.btn-light Подписаться
        .col-auto
          ul.social
            li.social__item: a(href="#").social__link: i.icm.icm-facebook
            li.social__item: a(href="#").social__link: i.icm.icm-twitter
            li.social__item: a(href="#").social__link: i.icm.icm-vk
            li.social__item: a(href="#").social__link: i.icm.icm-inst
  .page-footer
    .container
      .row.page-footer__row.page-footer__row_1
        .col
          .row.mb-3.mb-lg-0
            .col
              .footer-nav
                .footer-nav__header Компания
                ul.footer-nav__list
                  li.footer-nav__item: a(href="#").footer-nav__link О компании
                  li.footer-nav__item: a(href="#").footer-nav__link Новости
                  li.footer-nav__item: a(href="#").footer-nav__link Сотрудники
                  li.footer-nav__item: a(href="#").footer-nav__link Вакансии
                  li.footer-nav__item: a(href="#").footer-nav__link Магазины
                  li.footer-nav__item: a(href="#").footer-nav__link Политика
            .col
              .footer-nav
                .footer-nav__header Информация
                ul.footer-nav__list
                  li.footer-nav__item: a(href="#").footer-nav__link Помощь
                  li.footer-nav__item: a(href="#").footer-nav__link Условия оплаты
                  li.footer-nav__item: a(href="#").footer-nav__link Условия доставки
                  li.footer-nav__item: a(href="#").footer-nav__link Гарантия на товар
                  li.footer-nav__item: a(href="#").footer-nav__link Возможности
            .col
              .footer-nav
                .footer-nav__header Помощь
                ul.footer-nav__list
                  li.footer-nav__item: a(href="#").footer-nav__link Блог
                  li.footer-nav__item: a(href="#").footer-nav__link Вопрос-ответ
                  li.footer-nav__item: a(href="#").footer-nav__link Бренды
                  li.footer-nav__item: a(href="#").footer-nav__link Обзоры
        .col-auto.mb-3.mb-lg-0
          .footer-contacts
            .footer-contacts__item
              .footer-contacts__ico: i.icm.icm-phone-out
              .footer-contacts__text
                .footer-contacts__val +7(499) 638-23-05
                .footer-contacts__desc Пн-Пт с 9:00 до 17:00
            .footer-contacts__item
              .footer-contacts__ico: i.icm.icm-placemark
              .footer-contacts__text
                .footer-contacts__val Челябинск, ул. Лермонтова 21, 
                .footer-contacts__desc 3 этаж, офис 4
            .footer-contacts__item
              .footer-contacts__ico: i.icm.icm-phone-in
              .footer-contacts__text
                .footer-contacts__val
                  a(href="#") Обратный звонок
                .footer-contacts__desc Перезвоним и примем заказ
      .row.page-footer__row.page-footer__row_2
        .col
          .copyright 2018 © Аспро: Next – универсальный интернет-магазин