footer.page__footer
  .page-prefooter
    .container
      .row.page-prefooter__row
        .col-auto
          .row.align-items-center.page-prefooter__row
            .col-auto.page-prefooter__header Будьте всегда в курсе!
            .col-auto
              form(action="#").subscribe-form(data-parsley-validate)
                .subscribe-form__col: input(required type="email" placeholder="Ваш e-mail").subscribe-form__input
                button(type="submit").subscribe-form__btn.btn.btn-light Подписаться
        .col-auto
          ul.social
            li.social__item: a(href="#").social__link: i.icm.icm-facebook
            li.social__item: a(href="#").social__link: i.icm.icm-twitter
            li.social__item: a(href="#").social__link: i.icm.icm-vk
            li.social__item: a(href="#").social__link: i.icm.icm-inst
  .page-footer
    .container
      .row.page-footer__row.page-footer__row_1
        .col
          .row.mb-3.mb-lg-0
            .col
              .footer-nav
                .footer-nav__header Компания
                ul.footer-nav__list
                  li.footer-nav__item: a(href="#").footer-nav__link О компании
                  li.footer-nav__item: a(href="#").footer-nav__link Новости
                  li.footer-nav__item: a(href="#").footer-nav__link Сотрудники
                  li.footer-nav__item: a(href="#").footer-nav__link Вакансии
                  li.footer-nav__item: a(href="#").footer-nav__link Магазины
                  li.footer-nav__item: a(href="#").footer-nav__link Политика
            .col
              .footer-nav
                .footer-nav__header Информация
                ul.footer-nav__list
                  li.footer-nav__item: a(href="#").footer-nav__link Помощь
                  li.footer-nav__item: a(href="#").footer-nav__link Условия оплаты
                  li.footer-nav__item: a(href="#").footer-nav__link Условия доставки
                  li.footer-nav__item: a(href="#").footer-nav__link Гарантия на товар
                  li.footer-nav__item: a(href="#").footer-nav__link Возможности
            .col
              .footer-nav
                .footer-nav__header Помощь
                ul.footer-nav__list
                  li.footer-nav__item: a(href="#").footer-nav__link Блог
                  li.footer-nav__item: a(href="#").footer-nav__link Вопрос-ответ
                  li.footer-nav__item: a(href="#").footer-nav__link Бренды
                  li.footer-nav__item: a(href="#").footer-nav__link Обзоры
        .col-auto.mb-3.mb-lg-0
          .footer-contacts
            .footer-contacts__item
              .footer-contacts__ico: i.icm.icm-phone-out
              .footer-contacts__text
                .footer-contacts__val +7(499) 638-23-05
                .footer-contacts__desc Пн-Пт с 9:00 до 17:00
            .footer-contacts__item
              .footer-contacts__ico: i.icm.icm-placemark
              .footer-contacts__text
                .footer-contacts__val Челябинск, ул. Лермонтова 21, 
                .footer-contacts__desc 3 этаж, офис 4
            .footer-contacts__item
              .footer-contacts__ico: i.icm.icm-phone-in
              .footer-contacts__text
                .footer-contacts__val
                  a(href="#") Обратный звонок
                .footer-contacts__desc Перезвоним и примем заказ
      .row.page-footer__row.page-footer__row_2
        .col
          .copyright 2018 © Аспро: Next – универсальный интернет-магазин
.modals
  .modal#modalReg
    .modal-header Регистрация
      button.modal-close: i.icm.icm-close
    .modal-body
      form(action="#").form
        .form-row
          input(type="text" placeholder="Имя").input
        .form-row
          input(type="email" placeholder="E-mail").input
        .form-row
          input(type="password" placeholder="Придумайте пароль").input
        .form-row
          input(type="password" placeholder="Повторите пароль").input
        .form-row.modal-footer 
          button(type="submit").btn.btn-secondary-fill.btn_tt.modal-btn Зарегистрироваться
          a(href="#").modal-link У меня уже есть аккаунт
    .modal-auth
      .modal-auth__header Войти через
      .modal-auth__social
        ul.social-auth
          li.social-auth__item: i.icm.icm-facebook
          li.social-auth__item: i.icm.icm-twitter
          li.social-auth__item: i.icm.icm-vk
          li.social-auth__item: i.icm.icm-google
          li.social-auth__item: i.icm.icm-inst
          li.social-auth__item: i.icm.icm-ok
  .modal#modalRestore
    .modal-header Восстановление <br> пароля
      button.modal-close: i.icm.icm-close
    .modal-body
      form(action="#").form
        .form-row
          input(type="email" placeholder="E-mail").input
        .form-row.modal-footer 
          button(type="submit").btn.btn-secondary-fill.btn_tt.modal-btn Восстановить пароль
    .modal-links.justify-content-between
      a(href="") Вход
      a(href="") Зарегистрироваться
    .modal-auth
      .modal-auth__header Войти через
      .modal-auth__social
        ul.social-auth
          li.social-auth__item: i.icm.icm-facebook
          li.social-auth__item: i.icm.icm-twitter
          li.social-auth__item: i.icm.icm-vk
          li.social-auth__item: i.icm.icm-google
          li.social-auth__item: i.icm.icm-inst
          li.social-auth__item: i.icm.icm-ok
  .modal#modalAuth
    .modal-header Авторизация
      button.modal-close: i.icm.icm-close
    .modal-body
      form(action="#").form
        .form-row
          input(type="email" placeholder="E-mail").input
        .form-row
          input(type="password" placeholder="Пароль").input
        .form-row.modal-footer 
          .row
            .col.d-flex.align-item-center
              label.checkbox
                input(type="checkbox").checkbox__input
                span.checkbox__ico
                span.checkbox__text Запомнить меня
            .col: button(type="submit").btn.btn-secondary-fill.btn_tt.modal-btn Войти
    .modal-links.justify-content-between
      a(href="") Вход
      a(href="") Зарегистрироваться
    .modal-auth
      .modal-auth__header Войти через
      .modal-auth__social
        ul.social-auth
          li.social-auth__item: i.icm.icm-facebook
          li.social-auth__item: i.icm.icm-twitter
          li.social-auth__item: i.icm.icm-vk
          li.social-auth__item: i.icm.icm-google
          li.social-auth__item: i.icm.icm-inst
          li.social-auth__item: i.icm.icm-ok
  .modal#modalCallback
    .modal-header Заказать звонок
      button.modal-close: i.icm.icm-close
    .modal-body
      form(action="#").form
        .form-row
          input(type="text" placeholder="Имя").input
        .form-row
          input(type="tel" placeholder="Телефон").input
        .form-row.modal-footer 
          .row
            .col-auto: button(type="submit").btn.btn-secondary-fill.btn_tt.modal-btn Отправить
        .form-row.mb-3
          label.checkbox.checkbox-agree
            input(type="checkbox").checkbox__input
            span.checkbox__ico
            span.checkbox__text Я согласен на обработку персональных данных
  .modal#modalResume
    .modal-header Резюме
      button.modal-close: i.icm.icm-close
    .modal-body
      form(action="#").form
        .form-row
          input(type="text" placeholder="Имя").input
        .form-row
          input(type="tel" placeholder="Контактный телефон").input
        .form-row
          input(type="email" placeholder="E-mail").input
        .form-row
          select.js-select
            option Желаемая должность
            option Желаемая должность
            option Желаемая должность
        .form-row
          label.input-download
            input(type="file").input-download__input
            span.input-download__text Прикрепить файл
        .form-row
          .input-control
            .input-control-title Текст резюме 
            textarea.textarea
        .form-row.modal-footer 
          .row
            .col-auto: button(type="submit").btn.btn-secondary-fill.btn_tt.modal-btn Отправить


.test-links
  a(href="#modalReg").fancybox Попап-регистрация
  a(href="#modalRestore").fancybox Попап-восстановление пароля
  a(href="#modalAuth").fancybox Попап-Авторизация
  a(href="#modalCallback").fancybox Попап-Звонок
  a(href="#modalResume").fancybox Попап-Резюме
  a(href="about-sert.html") О нас-сертификаты
  a(href="about-team.html") О нас-команда
  a(href="about-text.html") О нас-текстовая
  a(href="about-vacancy.html") О нас-вакансии
  a(href="actions.html") Акции
  a(href="blog.html") блог
  a(href="blog-detail.html") Блог-детальная
  a(href="cart.html") Корзина
  a(href="catalog.html") Каталог
  a(href="contacts.html") Контакты
  a(href="order.html") Заказ
  a(href="product.html") Карточка
  