//-title
-var siteName = 'Title';
//-responsive
-var responsive = true;
//- css
-
	var cssList = [
		'libs/chosen/chosen.min.css',
		'libs/fancybox/dist/jquery.fancybox.min.css',
		'libs/swiper/dist/css/swiper.min.css',
		'libs/nouislider/distribute/nouislider.min.css',
		'libs/select2/dist/css/select2.min.css',
		'fonts/icomoon/style.css',
		'css/style.css'
	];
//- javactipt
-
	var scriptList = [
		'libs/jquery/dist/jquery.min.js',
		'libs/chosen/chosen.jquery.min.js',
		'libs/fancybox/dist/jquery.fancybox.min.js',
		'libs/swiper/dist/js/swiper.min.js',
		'libs/inputmask/dist/min/inputmask/jquery.inputmask.min.js',
		'libs/parsleyjs/dist/parsley.min.js',
		'libs/parsleyjs/dist/i18n/ru.js',
		'libs/nouislider/distribute/nouislider.min.js',
		'libs/select2/dist/js/select2.min.js',
		'js/custom.js'
	];