extends _template

block main
  .container.mt-lg-3
    mixin breadcrumbs(arr)
      ul.breadcrumbs.mt-3.mt-sm-5
        li.breadcrumbs__item: span.breadcrumbs__link Главная
        -for(i in arr)
          li.breadcrumbs__item: a(href="#").breadcrumbs__link=arr[i]
    +breadcrumbs(['О компании'])
    .h.h-big.mb-3.mb-md-5 О компании
  .sert
    .about-nav
      .container
        .about-nav__nav
          .about-nav__item.active: a(href="#").about-nav__link Сотрудники
          .about-nav__item: a(href="#").about-nav__link Вакансии
          .about-nav__item: a(href="#").about-nav__link Лицензии
          .about-nav__item: a(href="#").about-nav__link Политика конфиденциальности
    .container.py-4.py-sm-6.py-lg-10
      .row
        mixin about-item(photo,name,role,email,tel)
          .col-12.col-sm-6.mb-3.mb-sm-6.mb-md-10
            .about-item
              .about-item__photo(style="background-image:url("+photo+")")
              .about-item__info
                .about-item-name=name
                .about-item-role=role
                a(href="mailto:commerce@site.ru").about-item-email=email
                a(href="tel:+70001234567").about-item-phone=tel
        +about-item('img/photo1.jpg','Виталий Щедрый','Руководитель','commerce@site.ru','+7 (000) 123-45-67')
        +about-item('img/photo2.jpg','Анна Майер','Директор по маркетингу','commerce@site.ru','+7 (000) 123-45-67')
        +about-item('img/photo3.jpg','Арнольд Толстых','Ведущий программист','commerce@site.ru','+7 (000) 123-45-67')
        +about-item('img/photo4.jpg','Петр Дичко','Системный администратор','commerce@site.ru','+7 (000) 123-45-67')