extends _template

block main
  .container.mt-lg-3
    mixin breadcrumbs(arr)
      ul.breadcrumbs.mt-3.mt-sm-5
        li.breadcrumbs__item: span.breadcrumbs__link Главная
        -for(i in arr)
          li.breadcrumbs__item: a(href="#").breadcrumbs__link=arr[i]
    +breadcrumbs(['О компании'])
    .h.h-big.mb-3.mb-md-5 О компании
  .sert
    .about-nav
      .container
        .about-nav__nav
          .about-nav__item.active: a(href="#").about-nav__link Сотрудники
          .about-nav__item: a(href="#").about-nav__link Вакансии
          .about-nav__item: a(href="#").about-nav__link Лицензии
          .about-nav__item: a(href="#").about-nav__link Политика конфиденциальности
    .container.py-4.py-lg-6.text-content
      .row
        .col-12.col-lg-8.mb-5.mb-lg-0.px-1.pr-lg-6
          p Интернет-магазин — сайт, торгующий товарами в интернете. Позволяет пользователям сформировать заказ на покупку, выбрать способ оплаты и доставки заказа в сети Интернет. 
          h2 Заголовок H2
          p Выбрав необходимые товары или услуги, пользователь обычно имеет возможность тут же на сайте выбрать метод оплаты и доставки. Совокупность отобранных товаров, способ оплаты и доставки представляют собой законченный заказ, который оформляется на сайте путем сообщения минимально необходимой информации о покупателе. Информация о покупателе может храниться в базе данных магазина если бизнес-модель магазина рассчитана на повторные покупки, или же отправляться разово. 
          h3 Заголовок H3
          p: i Однако, в этом случае следует быть осторожным, поскольку доказать неполучение товара электронным способом существенно сложнее, чем в случае физической доставки.
          p По данным опроса портала Mail.ru необходимость регистрации при заказе товара или услуги часто мешает пользователям совершать покупки в интернет-магазинах. В интернет-магазинах, рассчитанных на повторные покупки, также ведется отслеживание возвратов посетителя и история покупок. Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.
          h4 Маркированный список H4
          ul
            li В интернет-магазинах, рассчитанных на повторные покупки, также ведется отслеживание возвратов песетителя и история покупок.
            li Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.
          h5 Нумерованный список H5
          ol
            li В интернет-магазинах, рассчитанных на повторные покупки, также ведется отслеживание возвратов песетителя и история покупок.
            li Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.
        .col-12.col-lg-4
          form(action="#").form
            .form-header Обратная связь
            .form-row
              input(type="text" placeholder="Имя").input
            .form-row
              input(type="text" placeholder="E-mail").input
            .form-row
              .input-control 
                label(for="callback-textarea").input-control-title Сообщение
                textarea(placeholder="Введите текст сообщения" id="callback-textarea").textarea
            .form-row
              button(type="submit").btn.btn-secondary-fill.btn_tt Отправить