extends _template

block main
  .container.mt-lg-3
    mixin breadcrumbs(arr)
      ul.breadcrumbs.mt-3.mt-sm-5
        li.breadcrumbs__item: span.breadcrumbs__link Главная
        -for(i in arr)
          li.breadcrumbs__item: a(href="#").breadcrumbs__link=arr[i]
    +breadcrumbs(['О компании'])
    .h.h-big.mb-3.mb-md-5 О компании
  .about
    .about-nav
      .container
        .about-nav__nav
          .about-nav__item.active: a(href="#").about-nav__link Сотрудники
          .about-nav__item: a(href="#").about-nav__link Вакансии
          .about-nav__item: a(href="#").about-nav__link Лицензии
          .about-nav__item: a(href="#").about-nav__link Политика конфиденциальности
  .bg-muted1: .container.py-5
      .h.h_sm.mb-4 Лицензии и сертификаты
      .row
        .col-12.col-sm-6.col-md-4.mb-3
          a(href="img/sert.jpg").about-sert.fancybox(style="background-image:url(img/sert.jpg)" data-fancybox="gallary1")
        .col-12.col-sm-6.col-md-4.mb-3
          a(href="img/sert.jpg").about-sert.fancybox(style="background-image:url(img/sert.jpg)" data-fancybox="gallary1")
        .col-12.col-sm-6.col-md-4.mb-3
          a(href="img/sert.jpg").about-sert.fancybox(style="background-image:url(img/sert.jpg)" data-fancybox="gallary1")
        .col-12.col-sm-6.col-md-4.mb-3
          a(href="img/sert.jpg").about-sert.fancybox(style="background-image:url(img/sert.jpg)" data-fancybox="gallary1")
        .col-12.col-sm-6.col-md-4.mb-3
          a(href="img/sert.jpg").about-sert.fancybox(style="background-image:url(img/sert.jpg)" data-fancybox="gallary1")
        .col-12.col-sm-6.col-md-4.mb-3
          a(href="img/sert.jpg").about-sert.fancybox(style="background-image:url(img/sert.jpg)" data-fancybox="gallary1")