extends _template

block main
  .bg-muted1
    .ovh: .container.mt-lg-3
      +breadcrumbs(['Блог'])
      .h.h-big.mb-3.mt-mb-5 Блог
    .container
      .blog-list
        .row.blog-list__row
          .blog-list__col
            +blog-item('img/blog-item3.jpg','Число загрузок Mountain Lion превысило три миллиона')
          .blog-list__col
            +blog-item('img/blog-item2.jpg','Топ-10 идей, как нескучно провести эту осень','Сходить в боулинг, устроить прогулку на лошадях или посмотреть интересный фильм?')
          .blog-list__col
            +blog-item('img/blog-item1.jpg','Какие ремонтные работы можно делать осенью','Ремонт традиционно планируют в теплое время года. Но есть работы, которые...','blog-item_2')
          .blog-list__col
            +blog-item(false,'Влияние нервных перегрузок и стрессов на состояни волос',false,'blog-item_2 ta-center')
          .blog-list__col
            +blog-item('img/blog-item6.jpg','Какие необычные блюда подают в заведениях и сколько они стоят','Сначала массово открывали пиццерии, на смену им пришла восточная кухня...')
          .blog-list__col
            +blog-item(false,'5 простых весенних салатов, которые помогут привести тело в форму после долгих майских праздников.',false,'blog-item_2 ta-center')
          .blog-list__col
            +blog-item('img/blog-item4.jpg','10 сильных фильмов, которые лишат вас дара речи','Ножницы Mustang сочетают в себе японские технологии, высококачественную сталь')
          .blog-list__col
            +blog-item('img/blog-item10.jpg','Как быстро привести себя в порядок с утра, если вы проспали.','С наступлением осени вставать по утрам становится все сложнее, хочется отключить...')
          .blog-list__col
            +blog-item(false,'Самое время поговорить о маринаде, от которого во многом зависит успех шашлыка.',false,'blog-item_2 ta-center')
          .blog-list__col
            +blog-item('img/blog-item8.jpg','Самые эффектные платья открытия Каннского кинофестиваля')