extends _template

block main
  .ovh
    .container
      .blog-detail
        .blog-detail__left
          +breadcrumbs(['Блог'])
          .h.h-big.mb-3.mt-mb-5 Духовка на связи: Приборы, которые подключаются к смартфону 
          .blog-detail-halves(style="background-image:url(img/blog-detail-main.jpg)").mb-2.mb-md-10
            .blog-detail-halves__desc Бытовые гаджеты становятся всё умнее, и уже сейчас можно управлять некоторыми моделями духовок или мультиварок с помощью приложения на смартфоне. The Village выбрал несколько бытовых предметов будущего, которые скоро будут доступны каждому.
          .text-content
            .blog-detail-social-wrap
              .blog-detail-social-main
                ul.social.social_vertical
                  li.social__item: a(href="#").social__link: i.icm.icm-vk
                  li.social__item: a(href="#").social__link: i.icm.icm-twitter
                  li.social__item: a(href="#").social__link: i.icm.icm-facebook
              .blog-detail-social-container
                .h2 Бритва Philips Smart Shaver Series 7000
                p Бритва соединяется по Bluetooth со смартфоном, на котором установлено специальное приложение, и начинает раздавать ценные советы. Учитывая тип кожи и щетины, частоту и продолжительность бритья, бритва рекомендует ту или иную программу. Бритва ведёт статистику бритья, советует средства по уходу за кожей и обещает, что за месяц использования избавит от раздражения. А если не избавит, то даст телефон врача для консультации.  
                br
                img(src="img/blog-detail-1.jpg", alt="").img-responsive
                br
                br
                .h2 Весы Withings
                p Коляска рассчитана на возраст от рождения до четырёх лет. Ну, или ею можно пользоваться до того момента, пока ребёнок не захочет передвигаться пешком. Коляска складывается и раскладывается автоматически, для чего достаточно нажать на кнопку. При этом специальный датчик не позволит коляске сложиться, если ребёнок находится внутри. Аккумулятор, управляющий механизмом и фарами, заряжается при движении колёс. Но если он вдруг подведёт и окажется разряженным в самый неподходящий момент, коляску можно сложить вручную.
                br
                img(src="img/blog-detail-2.jpg", alt="").img-responsive
                br
                br
                .h2 Мультиварка Redmond SkyCookert
                p Запускать работу и контролировать процесс приготовления еды в мультиварке удалённо можно с помощью специального приложения для смартфонов. В нём же легко рассчитывать калорийность продуктов, составлять меню или придумывать рецепты. 
                br
                img(src="img/blog-detail-3.jpg", alt="").img-responsive
              
        .blog-detail__right
          .blog-detail__right-inner
            .mb-3.blog-detail__blog-item
              +blog-item('img/blog-item3.jpg','Число загрузок Mountain Lion превысило три миллиона')
            .mb-3.blog-detail__blog-item
              +blog-item(false,'Влияние нервных перегрузок и стрессов на состояни волос',false,'blog-item_2 ta-center')
            .mb-3.blog-detail__blog-item
              +blog-item('img/blog-item6.jpg','Какие необычные блюда подают в заведениях и сколько они стоят','Сначала массово открывали пиццерии, на смену им пришла восточная кухня...')
            .mb-3.blog-detail__blog-item
              +blog-item('img/blog-item4.jpg','10 сильных фильмов, которые лишат вас дара речи','Ножницы Mustang сочетают в себе японские технологии, высококачественную сталь')