extends _template

block main
  .ovh: .container.mt-lg-3
    mixin breadcrumbs(arr)
      ul.breadcrumbs.mt-3.mt-sm-5
        li.breadcrumbs__item: span.breadcrumbs__link Главная
        -for(i in arr)
          li.breadcrumbs__item: a(href="#").breadcrumbs__link=arr[i]
    +breadcrumbs(['Контакты'])
    .h.h-big.mb-3.mt-mb-5 Контактная информация
  .mb-10: .container
    .row
      .col-12.col-lg-7.mb-5.mb-md-9.mb-lg-0
        .contacts-info
          .contacts-info-title Офис
          ul.contacts-info-list
            li.contacts-info-item
              i.icm.icm-placemark
              span г. Москва, ул. Большая, 7/10
            li.contacts-info-item
              i.icm.icm-phone-out
              span +7(499) 123-45-67 
            li.contacts-info-item
              i.icm.icm-envelope
              span info@site.ru
        .contacts-info
          .contacts-info-title Склад
          ul.contacts-info-list
            li.contacts-info-item
              i.icm.icm-placemark
              span г. Москва, ул. Большая, 7/10
            li.contacts-info-item
              i.icm.icm-phone-out
              span +7(499) 123-45-67 
            li.contacts-info-item
              i.icm.icm-envelope
              span info@site.ru
        .contacts-info
          .contacts-info-title Склад
          .props
            .props-item
              .props-item__name: span Офис: 
              .props-item__value Пн - Пт с 9.00 до 17.00
            .props-item
              .props-item__name: span Отгрузка товара: 
              .props-item__value Пн-Чт с 10.00 до 17.00 
      .col-12.col-lg-5
        form(action="#").form
          .form-header Обратная связь
          .form-row
            input(type="text" placeholder="Имя").input
          .form-row
            input(type="text" placeholder="E-mail").input
          .form-row
            .input-control 
              label(for="callback-textarea").input-control-title Сообщение
              textarea(placeholder="Введите текст сообщения" id="callback-textarea").textarea
          .form-row
            button(type="submit").btn.btn-secondary-fill.btn_tt Отправить
  .contacts-map
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5bd1e848f5558cb919eaad7598fe1d627ddb281c28f37b56df4aee741c95362a&amp;width=100%25&amp;height=542&amp;lang=ru_RU&amp;scroll=true"></script>