extends _template

block main
  .container.mt-lg-3.ovh
    .row.home-slider
      .col.home-slider__col
        .swiper-container.home-slider
          .home-slider__wrapper.swiper-wrapper
            .swiper-slide.home-slider__item(style="background-image: url(img/home-slider.jpg)")
              a(href="#").home-slider__btn.btn.btn-light Узнать подробнее
            .swiper-slide.home-slider__item(style="background-image: url(img/home-slider.jpg)")
              a(href="#").home-slider__btn.btn.btn-light Узнать подробнее
            .swiper-slide.home-slider__item(style="background-image: url(img/home-slider.jpg)")
              a(href="#").home-slider__btn.btn.btn-light Узнать подробнее
          .swiper-pagination
      .col-auto
        a(href="#").home-action(style="background-image:url(img/home-action1.jpg)")
          .home-action__text До -25% на ноутбуки
        a(href="#").home-action(style="background-image:url(img/home-action2.jpg)")
          .home-action__text Цифровые камеры <br> скидки до 45%
  // START: popular-cats
  section.big-pad.popular-cats
    .container
      h2.h-row
        .h Популярные категории
        a(href="#").btn.btn-secondary 
          | Весь каталог
          i.icm.icm-arr-right
    .container.popular-cats__container: .row.popular-cats__row
        .col: .row.h-100.h-lg-auto
          .col.col-lg-12: .popular-cat.popular-cat_horizontal(style="background-color: #3F4953; color: #ffffff;")
            .popular-cat__image(style="background-image: url(img/p-cat1.jpg);")
            .popular-cat__text
              h3.popular-cat__header Автоэлектроника
              ul.popular-cat__list
                li.popular-cat__item: a(href="#").popular-cat__link Акустика 
                li.popular-cat__item: a(href="#").popular-cat__link Автомобильные видеоплееры и DVD
                li.popular-cat__item: a(href="#").popular-cat__link Видеорегистраторы
                li.popular-cat__item: a(href="#").popular-cat__link Магнитолы и головные системы
                li.popular-cat__item: a(href="#").popular-cat__link Сигнализация 
          .col.col-lg-12: .popular-cat.popular-cat_horizontal(style="background-color: #DB2F54; color: #ffffff;")
            .popular-cat__image(style="background-image: url(img/p-cat2.jpg);")
            .popular-cat__text
              h3.popular-cat__header Фото и видеотехника
              ul.popular-cat__list
                li.popular-cat__item: a(href="#").popular-cat__link Фотоаппараты
                li.popular-cat__item: a(href="#").popular-cat__link Видеокамеры
                li.popular-cat__item: a(href="#").popular-cat__link Экшен-камеры
                li.popular-cat__item: a(href="#").popular-cat__link Объективы
                li.popular-cat__item: a(href="#").popular-cat__link Штативы
        .col: .row.h-100
          .col
            .popular-cat(style="background-color: #49A4CA; color: #ffffff;")
              .popular-cat__image(style="background-image: url(img/p-cat3.jpg);")
              .popular-cat__text
                h3.popular-cat__header Бытовая техника
                ul.popular-cat__list
                  li.popular-cat__item: a(href="#").popular-cat__link Холодильники
                  li.popular-cat__item: a(href="#").popular-cat__link Пылесосы
                  li.popular-cat__item: a(href="#").popular-cat__link Печи СВЧ
                  li.popular-cat__item: a(href="#").popular-cat__link Сушильные машины
                  li.popular-cat__item: a(href="#").popular-cat__link Стиральные машины
          .col
            .popular-cat(style="background-color: #FFD54A; color: #000;")
              .popular-cat__image(style="background-image: url(img/p-cat4.jpg);")
              .popular-cat__text
                h3.popular-cat__header Инструмент  
                ul.popular-cat__list
                  li.popular-cat__item: a(href="#").popular-cat__link Электродрели 
                  li.popular-cat__item: a(href="#").popular-cat__link Шуруповерты
                  li.popular-cat__item: a(href="#").popular-cat__link Перфораторы
                  li.popular-cat__item: a(href="#").popular-cat__link Угловые шлифмашины 
                  li.popular-cat__item: a(href="#").popular-cat__link Штроборезы

  // END: popular-cats
  // START: best-prods
  .big-pad.best-prods
    .container
      .h-row
        .h Лучшие предложения
      .row
        -for(var j=1;j<=2;j++)
          -for(var img=1,i=1;i<=4;i++,img++)
            .col-12.col-sm-6.col-lg-3
              .product
                .product__image
                  img(src="img/product"+i+".jpg", alt="").img-responsive
                  .product__options
                    button.product__option: i.icm.icm-fav
                    button.product__option: i.icm.icm-libra
                .product__body
                  .product__name Фотоаппарат Canon EOS 6D Body
                  ul.product__rating.rating
                    li.rating__item.rating__item_active: i.icm.icm-star
                    li.rating__item.rating__item_active: i.icm.icm-star
                    li.rating__item.rating__item_active: i.icm.icm-star
                    li.rating__item.rating__item_active: i.icm.icm-star
                    li.rating__item: i.icm.icm-star
                  .product__price от 1 350 <span class="rouble">е</span>
                .product__footer
                  a(href="#").product-link
                    | Фото и видео техника 
                    i.icm.icm-arrow-right-sm
                  button.product__buy: i.icm.icm-cart
  // END: best-prods
  // START: home news and actions
  .big-pad.home-news
    .container
      .h-row
        .h Новости и акции
        .h__more
          a(href="#").btn.btn-secondary 
            | Все новости
            i.icm.icm-arrow-right-sm.ml-1
      .row.home-news__row
        +news-item('img/news-item1.jpg','Открытие Магазина','06.08.2018','26 июля состоялось торжественное открытие нашего нового магазина на ул. Южно-Моравской, 22!')
        +news-item('img/news-item2.jpg','Все о жидкокристаллических дисплеях','06.08.2018','26 июля состоялось торжественное открытие нашего нового магазина на ул. Южно-Моравской, 22!')
        +news-item('img/news-item3.jpg','10 предметов, без которых не обойтись летом','06.08.2018','26 июля состоялось торжественное открытие нашего нового магазина на ул. Южно-Моравской, 22!')
  // END: home news and actions
  // START: text content
  .pb-5
    .container
      .h-row
        .h Интернет-магазин в Челябинске
      .text-content
        p Сайт, торгующий товарами в Челябинске. Позволяет пользователям сформировать заказ на покупку, выбрать способ оплаты и доставки заказа в сети Интернет. Выбрав необходимые товары или услуги, пользователь обычно имеет возможность тут же на сайте выбрать метод оплаты и доставки.
        p Основное отличие Интернет-магазина от традиционного — в типе торговой площадки.
  // END: text content

  // START: recent news
  .big-pad.bg-muted2
    .container
      .h-row
        .h Ранее вы смотрели
        .recent-navigation#recent
          button.recent-navigation__btn(role="prev"): i.icm.icm-arrow-left
          button.recent-navigation__btn(role="next"): i.icm.icm-arrow-right
      .recent-slider.swiper-container(data-nav="#recent")
        .swiper-wrapper
          .swiper-slide: +recent-item('img/recent1.jpg', 'Велосипед женский Stern Motion 4.0',  '17 991')
          .swiper-slide: +recent-item('img/recent2.jpg', 'Футболка для мальчиков Nike Just Do It Camo XS',  '17 991')
          .swiper-slide: +recent-item('img/recent3.jpg', 'Кроссовки для бега 40 размер',  '17 991')
          .swiper-slide: +recent-item('img/recent4.jpg', 'Сабвуфер Mystery MBB-20A',  '17 991')
          .swiper-slide: +recent-item('img/recent5.jpg', 'Водонагреватель Thermex 350 Stream',  '17 991')
          .swiper-slide: +recent-item('img/recent6.jpg', 'Водонагреватель Electrolux NP4 MINIFIX',  '17 991')
          .swiper-slide: +recent-item('img/recent1.jpg', 'Велосипед женский Stern Motion 4.0',  '17 991')
          .swiper-slide: +recent-item('img/recent2.jpg', 'Футболка для мальчиков Nike Just Do It Camo XS',  '17 991')
          .swiper-slide: +recent-item('img/recent3.jpg', 'Кроссовки для бега 40 размер',  '17 991')
          .swiper-slide: +recent-item('img/recent4.jpg', 'Сабвуфер Mystery MBB-20A',  '17 991')
          .swiper-slide: +recent-item('img/recent5.jpg', 'Водонагреватель Thermex 350 Stream',  '17 991')
          .swiper-slide: +recent-item('img/recent6.jpg', 'Водонагреватель Electrolux NP4 MINIFIX',  '17 991')
  // END: recent news
  
        