
extends _template

block main
  .ovh: .container.mt-lg-3
    mixin breadcrumbs(arr)
      ul.breadcrumbs.mt-3.mt-sm-5
        li.breadcrumbs__item: span.breadcrumbs__link Главная
        -for(i in arr)
          li.breadcrumbs__item: a(href="#").breadcrumbs__link=arr[i]
    +breadcrumbs(['Корзина'])
    .h.h-big.mb-3.mt-mb-5 Корзина
  .container
    .cart-table
      .cart-table-row
        .cart-table-cell.cart-table-cell_img: img(src="img/cart1.jpg", alt="").cart-table-img
        .cart-table-center
          .cart-table-group.cart-table-group_border
            .cart-table-cell.cart-table-cell_name Кофемашина DeLonghi Magnifica EС <br> AM 22.360.S, Silver 
          .cart-table-group
            .cart-table-cell
              .counter
                .counter__btn: i.icm.icm-minus
                input(type="text" value="1").counter__value
                .counter__btn: i.icm.icm-plus
            .cart-table-cell.cart-table-cell_price 45 500 <span class="rouble ">е</span>
        .cart-table-cell.cart-table-cell_close: i.icm.icm-close
    .cart-table-footer.mb-4.mb-sm-10
      a(href="#").cart-table-footer__back
        i.icm.icm-arrow-left.mr-2 
        span Вернуться в каталог товаров
      .cart-table-footer__order
        .amount-price.mb-3
          .amount-price__title Итого
          .amount-price__price 45 860 <span class="rouble">у</span>
  .order-form
    .order-form__container
      form(action="#").form.order-form__form
        .h.mb-6 Оформление заказа
        .radio-list.radio-list_vertical.order-form__ur
          .radio-list__item: label.radio-word
            input(type="radio" name="ur" checked).radio-word__input
            .radio-word__name Физическое лицо
          .radio-list__item: label.radio-word
            input(type="radio" name="ur").radio-word__input
            .radio-word__name Юридическое лицо
        .form-row
          input(type="text" placeholder="Местоположение (почтовый индекс, страна, регион, город)").input
        .form-row
          input(type="text" placeholder="Полный адрес (улица, номер дома, квартира)").input
        .form-row
          input(type="text" placeholder="ФИО адресата").input
        .form-group
          .form-row
            input(type="tel" placeholder="Телефон").input
          .form-row
            input(type="email" placeholder="E-mail").input
        .form-row
          .input-control 
            span.input-control-title.input-control-title_bold.mb-3 Доставка
            ul.radio-list
              li.radio-list__item
                label.radio
                  input(type="radio" name="delivery").radio__input
                  .radio__icon
                  .radio__name Самовывоз
              li.radio-list__item
                label.radio
                  input(type="radio" name="delivery").radio__input
                  .radio__icon
                  .radio__name Транспортная компания
              li.radio-list__item
                label.radio
                  input(type="radio" name="delivery").radio__input
                  .radio__icon
                  .radio__name Доставка
            
        .form-row
          .input-control 
            label(for="callback-textarea").input-control-title.input-control-title_bold Комментарий к заказу
            textarea(placeholder="Введите текст сообщения" id="callback-textarea").textarea
        .form-row: input(type="submit" value="Готово").btn.btn-secondary-fill.btn_tt
    
      
    