@import "_settings/_mixins";
@import "_settings/_config";

/*-------------------------------------------------*/
/*  buttons
/*-------------------------------------------------*/
.btn{

	@each $name, $color in $button-colors{
		@if($name == 'light'){
			&-#{$name}{
				background: $color;
				color: $primary-dark-color;
				&:hover{
					border:2px solid $color;
					background: $primary-dark-color;
					color: $color;
				}
			}
		}@else{
			&-#{$name}{
				border: 2px solid $color;
				color: $color;
				&:hover{
					background: $color;
					color: #ffffff;
				}
				&-fill{
					background: $color;
					@if(lightenes($color) lt 50){
						color: #fff;
					}@else{
						color: #202020;
					}
					&:hover{
						color: $color;
						box-shadow:inset 0 0 0px 2px $color;
						background:none;
					}
				}
			}
		}
	}
	
}

/*-------------------------------------------------*/
/*  borders
/*-------------------------------------------------*/

.bd{
	@each $name, $color in $bd-colors{
		&-#{$name}{
			border-color: $color;
		}
	}
}

/*-------------------------------------------------*/
/*  backgrounds
/*-------------------------------------------------*/

.bg{
	@each $name, $color in $backgrounds-colors{
		&-#{$name}{
			background-color: $color;
		}
	}
}

/*-------------------------------------------------*/
/*  text
/*-------------------------------------------------*/

.text{
	display: inline-block;
	@each $name, $color in $text-colors{
		&-#{$name}{
			color: $color;
		}
	}
}

