@import "_mixins";

// ---------------------------
// font-family
// ---------------------------
$ff-primary: HelveticaNeueCyr, sans-serif;

// ---------------------------
// colors
// ---------------------------

$white  : #ffffff;
$purple : #353146;
$purple-dark : #262629;
$blue   : #066dd6;
$red    : #d41438;
$pink   : #fd7eb4;
$muted1 : #f3f3f3;
$muted2 : #eeeeee;
$muted3 : #d1d1d1;
$muted4 : #929292;
$muted5 : #5d5f66;
$muted6 : #171d19;
$black  : #000000;

// set pseudo
$light-color     : $white; //body
$primary-color   : $purple;
$primary-dark-color   : $purple-dark;
$secondary-color : $blue;
$danger-color    : $red;
$cute-color      : $pink;
$muted1-color    : $muted1;
$muted2-color    : $muted2;
$muted3-color    : $muted3;
$muted4-color    : $muted4;
$muted5-color    : $muted5;
$muted6-color    : $muted6;
$dark-color      : $black;

// ---------------------------
// font sizes
// ---------------------------

$fz-xl1: 50;
$fz-l:   20;
$fz-l1:  22;
$fz-l2:  23;
$fz-xs:  12;
$fz-xs1: 13;
$fz-xl:  35;
$fz-s:   14;
$fz-s1:  15;
$fz-m:   16;
$fz-m1:  17;

// ---------------------------
// colors
// ---------------------------
// buttons colors
$button-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  light: $light-color
);
// text-colors
$text-colors: (
  primary: $primary-color,
  primary-dark: $primary-dark-color,
  secondary: $secondary-color,
  danger: $danger-color,
  cute: $cute-color,
  muted2: $muted2-color,
  muted3: $muted3-color,
  muted4: $muted4-color,
  muted5: $muted5-color,
  muted6: $muted6-color,
  dark: $dark-color,
  white: $light-color
);

// bd-colors
$bd-colors: (
  light: $light-color,
  primary: $primary-color,
  primary-dark: $primary-dark-color,
  secondary: $secondary-color,
  danger: $danger-color,
  cute: $cute-color,
  muted2: $muted2-color,
  muted3: $muted3-color,
  muted4: $muted4-color,
  muted5: $muted5-color,
  muted6: $muted6-color,
  dark: $dark-color
);
// text-sizes
$text-size: (
	xl1: $fz-xl1,
	l: $fz-l,
	l1: $fz-l1,
	l2: $fz-l2,
	xs: $fz-xs,
	xs1: $fz-xs1,
	xl: $fz-xl,
	s: $fz-s,
	s1: $fz-s1,
	m: $fz-m,
	m1: $fz-m1
);

// backgrounds
$backgrounds-colors: (
  danger: $danger-color,
  primary: $primary-color,
  secondary: $secondary-color,
  primary-dark: $primary-dark-color,
  cute: $cute-color,
  muted1: $muted1-color,
  muted2: $muted2-color,
  muted3: $muted3-color,
  muted4: $muted4-color,
  muted5: $muted5-color
);

// ---------------------------
// body
// ---------------------------
$body-font-size: 16;
$body-background-color: $light-color;
$body-font-family: $ff-primary;

// ---------------------------
// bootstrap grid
// ---------------------------

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  6: 6rem,
  7: 7rem,
  8: 8rem,
  9: 9rem,
  10: 10rem,
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);
// stylelint-enable

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$enable-grid-classes:       true !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           3rem !default;