/*-------------------------------------------------*/
/*  buttons 2
/*-------------------------------------------------*/
.btn{
	display: inline-block;
	color: white;
	@each $name, $color in $button-colors{
		&-#{$name}{
			background-color: $color;
		}
	}
}
/*-------------------------------------------------*/
/*  backgrounds
/*-------------------------------------------------*/

.bg{
	@each $name, $color in $backgrounds-colors{
		&-#{$name}{
			background-color: $color;
		}
	}
}

/*-------------------------------------------------*/
/*  text
/*-------------------------------------------------*/

.text{
	display: inline-block;
	@each $name, $color in $text-colors{
		&-#{$name}{
			color: $color;
		}
	}
}

.fz{
	@each $name, $size in $text-size{
		&-#{$name}{
			font-size: fz($size);
		}
	}
}